.title {
    -fx-font-size: 24px
}

.line:hover {
    -fx-cursor: hand
}

.label-field {
    -fx-font-size: 20px
}

.combo {
    -fx-font-size: 14px
}

.combo:hover {
    -fx-cursor: hand
}

.btn-athlete {
    -fx-font-size: 18px;
}

.label-back {
    -fx-font-size: 22px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #4DABF5 0%, #2196f3 100%);
}

.label-back:hover {
    -fx-cursor: hand;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 100%);
}